@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*$yale-blue: #144585ff; //Blue
$light-french-beige: #d1ae68ff; //Yellow
$eerie-black: #141414ff; //Black
$light-cyan: #cffcffff; //Light Blue
$cultured: #f5f5f5ff; // That Whiteish Text
*/
html, body{
height: 100%;
width: 100%;
font-family:'Poppins',sans-serif;
color: #141414ff;
}
.navbar{
  padding: .8rem;
  background-color:#141414ff
}
.navbar img{
  width:8rem;
}
/* Custom CSS */

.navbar-brand img {
  height: 50px;
}

.footer-image{
  height: 100px;
}

.custom-card{
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  height: 250px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  /* min-width: 400px; */
  /* width: 400px; */
}

.card-style {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-style:hover {
  box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.custom-card img{
  filter: brightness(50%);
}

.card-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'New Tegomin';
  font-size: 24pt;
}

.page-header{
  padding: 32px;
  font-family: 'New Tegomin';
}

.hero-section{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.hero-image{
  width: inherit;
  object-fit: cover;
}
.hero-section img{
  filter: brightness(20%);
 
}
.form-section{
  background-color: #080808;
  width: 100%;
  height: 300px;
}
.form-section p{
  color: white;
}

/* End of Custom CSS */

.navbar-nav li{
padding-right: 20px
}
.nav-link{
  font-size: 1.1em !important;
}
.navbar-toggler-icon{
  color:#f5f5f5ff; /*Not working*/
}
#activePage{
  color:#cffcffff;
}
/* End of Nav Bar CSS Start of Image Slider CSS*/
.homeSplash{
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  background-size: cover;
  height: 100vh;
  width:100%;
}
.carousel-inner img{
  width: 100%;
  height:100%;
}
.wrapper{
  width:100%;
  height:100%;
  background-color:#696767;
  opacity:0.6;
  color:black;
}
.wrapper .carousel-caption{
  opacity: 1!important;
  color:white!important;
}
.ignoreMe{
  height:90vh;
  width:100%;
}
.carousel-caption{
  top: 50%;
  color:white;
  position: absolute;
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #141414ff;
}
.carousel-caption h3{
  font-size:200%;/*2 em or 2 rem*/
  font-weight: 500;
  text-shadow: 1px 1px 10px #141414ff;
  padding-bottom: 1rem;
}
/*Button*/
.btn-primary{
  background-color: #144585ff;
  border: 1px solid #144585ff;
}
.btn-primary:hover{
  background-color: #141414ff;
  border: 1px solid #141414ff;
}
/* End of Image slider CSS || Start of Jumbotron*/

/* Start of Welcome Section*/
.welcome{
  width:75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/*    Footer Stuff   */
footer{
  background-color: #141414;
  color:#d5d5d5;
  padding-top:2rem;
}
footer img{
  width:19rem;
}

.copyright{
  background-color:#141414ff;
  width:100%;
}
hr.light{
  border-top:1px solid #d5d5d5;
  width:75%;
  margin-top: .8rem;
  margin-bottom:1rem;
}
footer a{
  color: #d5d5d5;
}
hr.light-100{
  border-top:1px solid #d5d5d5;
  width:100%;
  margin-top: .8rem;
  margin-bottom:1rem;
}
/* Reservations Page */
.rOptions{
  width:15%;
  margin-left:10%;
  
}
.optBox{
  height:100%;
  width:100%;
  background-color:#141414;
  opacity:0.9;
}
.selector{
  margin-left:90px;
}/* WHAT THE FUCK BRO*/


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size:4em;
    padding:2rem;
    }
  }
@media (max-width: 768px) {
  .carousel-caption{
    top: 45%;
  }
  .carousel-caption h1{
    font-size: 350%;
  }
  .carousel-caption h3{
    font-size:140%;/*2 em or 2 rem*/
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size:95%;
    padding:8px 14px;
  }
  /*Heading Text*/
  .display-4{
    font-size:200%;
  }
  .social a{
    font-size:2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption{
    top: 40%;
  }
  .carousel-caption h1{
    font-size: 250%;
  }
  .carousel-caption h3{
    font-size:110%;
  }
  .carousel-caption .btn{
    font-size:90%;
    padding:4px 8px;
  }
  .carousel-indicators{
    display:none;
  }
  .display-4{
    font-size:160%;
  }
  .social a{
    font-size:2em;
    padding: .7rem;
  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








